#main-title{
    color:red;
}

table {
    border:1px solid red;
    border-collapse :collapse;
}
td{
    border:1px solid red;
    padding 4p ;
}
th{
    border: 1px solid red;
    padding:4px
}
table{
    border: 1px solid red;
    border: 1px solid red;
}
th,td{
    border: 1px solid red;
    padding: 4px;
}